* {
	background-color: #F6C847;
}

.title {
	text-align: center;
	font-family: 'Bree Serif', serif;
	color: #B12411;
}

h3{
	color: #B12411;
}

.text-center {
	font-family: 'Roboto', sans-serif;
}

.form-group {
	margin-left: 30%;
	margin-right: 30%;
}

.burgerImage {
	padding-top: 30px;
}

.list-group-item {
	background-color: #F6C847;
	color: #b12411;
	font-size: 20px;
	/*border-style: solid;*/
	border-width: 5px;
	border-color: #25C38E;
	border-radius: 25px;
	margin-top: 10px;
}